@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 14px;
    font-size: 12px;
    margin-right: 40px;
}
#logo img{
    height: 25px;
    filter: invert(1);
}
#navbar{
    background-color: rgb(233, 45, 45);
    padding: 10px 10px;
    font-family: 'Merienda', cursive;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}
#navbar li a:hover{
    color: black;
    
}

#introSection{
    height: 350px;
    /* padding-bottom: 40px; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    background: center / cover no-repeat url("/static/bg.jpg");
}
#introSection div.small{
    font-size: 20px;
    padding: 35px 25px;
    margin: 10px;
}
#sponsorsSection{
    height: 200px;
    background-color: rgba(192, 86, 86, 0.767);
}
#sponsorsSection h2{
    text-align: center;
    padding-top: 12px;
    font-family: 'Dancing Script', cursive;
}
#missionSection{
    height: 300px;
    width: 100%;
    margin: auto;
    background-color: rgba(233, 219, 219, 0.856);
}
#missionSection h2{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-top: 12px;
}
.card{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 20px 22px;
    height: 210px;
    display: inline-block;
}
.card h3{
    text-align: center;
    margin: 0px 10px;
    margin-top: 25px;
    font-family: 'Dancing Script', cursive;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 120px;
    padding: 0px 10px;
    margin: 5px 10px;
}
.card-img img{
    height: inherit;
}
.card-content{
    padding: 0px 10px;
}
.card-content p{
    font-size: 15px;
}
#sponsors{
    margin: 5px auto;
    height: 140px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    
}
.spImage{
    height: 60%;
    margin: 30px;
}

#footer{
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}